doctype html
html
  head
    title= title
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fjalla+One')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div.layer
     header
      if(!currentUser)
        nav(class="navbar navbar-inverse")
          div(class="container-fluid container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              //- a(class="navbar-brand" href="/")
              //-   img.menulogo(src='/images/logoYellow.png' alt='logo')
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              form(class="navbar-form navbar-left" role="search" action='/login' method='post')
                div(class="form-group")
                  input(type="text" class="form-control" placeholder="Email" name='email')
                  span  
                  input(type="password" class="form-control" placeholder="Password" name='password')
                span 
                button(type="submit" class="btn btn-default") Login
              div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-right")
                  li(class="active")
                    a(href="/signup") Signup
                      span(class="sr-only") (current)
        .container.header
          block head
      main
        .container
          block content
      footer
        .container
          block foot
        
        
  
  block javascript
