extends ../layout 

block content
      div.create
       h1 Sign UP
       form(action="/signup", method="post")
        label(for="email") Email
        input(type="text" id="email" name="email")
        p
        label(for="password") Password
        input(type="password" id="password" name="password")
        p
        input.white(type="submit" value="SignUp")
