doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fjalla+One')
  body
   block content
    div.layer
      div.log
       h1 Sign UP
       form(action="/signup", method="post")
        label(for="email") Email
        input(type="text" id="email" name="email")
        p
        label(for="password") Password
        input(type="password" id="password" name="password")
        p
        input(type="submit" value="SignUp")
