doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fjalla+One')
  body
   block content
   div.layer
    
    div.create
      a(href="/") Back Home
      h1 Create a new trip
      form(action="/trip/new", method="post")
       label(for="name") Name of Trip 
       input(type="text" name="name" id="id")
       p
       label(for="sdate") Start Date
       input(type="date" name="sdate" id="sdate")
       p
       label(for="edate") End Date
       input(type="date" name="edate" id="edate")
       p
       input(type="submit" value="Create Trip")
