extends ../layout 

block content
  div.trips.plans
   h1 Trips
   for item in dashboard.places
    a(href="/trip/"+item._id)
     p=item.name
   h1 Invited Trips
   for item in dashboard.invites
     a(href="/trip/"+item._id)
      p=item.name
   
  div.trips.comments
   h1 Comments
   for item in dashboard.comments
    div.comment
      a.close(href="/comment/"+item._id+"/"+item.tripId) X
      p=item.newDate
      p
      Strong Trip Name: 
      =item.destination
      p=item.message
          
        
 
