extends ../layout

block content
 h1 Your Trips
 for item in dashboard.places
  a(href="/trip/"+item._id)
   p=item.name
 h1 Your Comments
 for item in dashboard.comments
  div.comment
    p=item.message
    p=item.date
 h1 Your Invited Trips
 for item in dashboard.invites
   a(href="/trip/"+item._id)
    p=item.name
 a(href="/user/edit") Edit User Info
